---
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css'
import '../styles/sobre.css'

const pageTitle = "Sobre mi 🫡";

const identity = {
  firstName: "Santiago",
  country: "Colombia",
  occupation: "Analista de bases de datos",
  hobbies: ["Leer", "aprender nuevas cosas", "viajas"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "blue";
const fontWeight = "bold"
const textCase = "uppercase"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
    
      <h2>... ¡y mi nuevo sitio Astro!</h2>
  
      <p>Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he construido yo mismo!</p>
  
      <p>Este sitio se irá actualizando a medida que vaya completando más partes del tutorial, ¡así que no dejes de visitarlo para ver cómo va mi viaje!</p>
  
      <p>He aquí algunos datos sobre mí:</p>
      
      <ul>
        <li>Me llamo {identity.firstName}.</li>
        <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
          <li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
        }
      </ul>
      <p>Mis habilidades son:</p>
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
  
  
      {happy && <p>¡Estoy feliz de aprender Astro!</p>}
  
      {finished && <p>¡He terminado este tutorial!</p>}
  
      {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
  
    </BaseLayout>
    <script>
      import "../scripts/menu.js"
    </script>
  </body>
</html>